body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    color: #084b92;
    margin: 0;
    padding: 0;
}

header {
    background-color: #007bff;
    padding: 20px;
}

#escudo {
    width: 100px;
    height: auto;
}

h1 {
    color: #ffffff;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: #99bee5;
    margin: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

main {
    padding: 20px;
}

section {
    margin: 20px 0;
}

.carousel img {
    width: 100%;
    height: auto;
    border: 2px solid #0056b3;
}
